# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables (secrets)
.env

# Backend
backend/.venv/
backend/venv/
backend/path/
backend/__pycache__/
backend/**/__pycache__/
backend/*.py[cod]
backend/app/reports/fonts/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Logs
*.log
npm-debug.log*
